//
// user-variables.scss
// Use this to overwrite Bootstrap and Block variables
//
// Example of a variable override to change Block primary color
// Remove the "//" to comment it in and see it in action!
// $primary: #000;

$purple--dark: #20102b;

$purple--primary: #8644b4;
$purple--text-primary: #8644b4;

$purple--secondary: #8644b4;
$purple--third: #904fbd;

$bs-body-bg: #20102b !important; 
$bs-body-color: rgba(255, 255, 255, 0.5) !important; 

