<!-- Navbar -->
<header>
   <nav class="navbar navbar-expand-lg transparent navbar-transparent navbar-dark">
      <div class="container px-3">
         <a class="navbar-brand" href="#">
            <img src="./assets/images/logo/logo_sporthub.png" style="height: 32px;" alt />
         </a>
         <button class="navbar-toggler offcanvas-nav-btn" type="button">
            <i class="bi bi-list"></i>
         </button>
         <div class="offcanvas offcanvas-start offcanvas-nav" style="width: 20rem">
            <div class="offcanvas-header">               
               <a href="#home" class="text-inverse"><img src="./assets/images/logo/logo_sporthub.png" style="height: 32px;" alt /></a>
               <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body pt-0 align-items-end">
               <ul class="navbar-nav mx-auto align-items-lg-center">
                  <li class="nav-item ">
                     <a class="nav-link" href="#home" role="button"  aria-expanded="false">Home</a>                     
                  </li>
                  <li class="nav-item ">
                     <a class="nav-link" href="#nosotros" role="button" aria-expanded="false">Nosotros</a>                     
                  </li>
                  <li class="nav-item ">
                     <a class="nav-link" href="#servicios" role="button" aria-expanded="false">Servicios</a>                     
                  </li>
                  <li class="nav-item ">
                     <a class="nav-link" href="#eventos" role="button" aria-expanded="false">Eventos</a>                     
                  </li>
                  <li class="nav-item ">
                     <a class="nav-link" href="#contacto" role="button" aria-expanded="false">Contacto</a>                     
                  </li>                      
               </ul>
            </div>
         </div>
      </div>
   </nav>
</header>
